################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fiverr_spreadsheet_project_1/FileContentIndex/7e1726c2-8112-4e43-88ed-a2f08fdd236f.vsidx
