################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fiverr_spreadsheet_project_1/FileContentIndex/7e1726c2-8112-4e43-88ed-a2f08fdd236f.vsidx
/.vs/Fiverr_spreadsheet_project_1/FileContentIndex/b2eb1eb4-9e4d-4cc7-8252-55fc58351d32.vsidx
